a {
    color: #000;
    text-decoration: none;
}

h1 {
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 40px;
}

.github {
    font-family: Monaco;
    font-weight: normal;
    font-style: normal;
}